%allstyle {
    border: solid 1px rgb(180, 180, 180);
}

%contact-span-f-text {
    color: #7A7A7A;
    font-family: 'RF Dewi Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-left: 30px;
}

%contact-h3-s-text {
    color: #fff;
    font-family: 'RF Dewi Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    padding-right: 30px;
}

.contact {
    display: grid;
    grid-template: 300px 300px 300px / 1fr 1fr;
    background-color: #444444;

    &__el1 {
        display: flex;
        justify-content: center;
        padding-top: 130px;
        grid-row: 1 / 4;
        @extend%allstyle;

        h1 {
            color: #fff;
            font-family: 'RF Dewi Expanded';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 110%;
        }
    }


    &__el2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend%allstyle;

        span {
            @extend%contact-span-f-text;
        }
    }

    &__el3 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            @extend%contact-span-f-text;
        }
    }

    &__el4 {
        display: flex;
        justify-content: end;
        align-items: center;
        border-bottom: solid 1px rgb(180, 180, 180);

        // padding-left: 150px;
        h3 {
            padding-right: 10px;
        }
    }

}

.contact__numbers {
    h3 {
        @extend%contact-h3-s-text
    }
}

.contact-mob {
    display: none;
}

@media screen and (max-width:769px) {
    .contact {
        display: none;
    }

    .contact-mob {
        display: block;
        background-color: #444444;
        display: grid;
        grid-template: 178px 220px 580px / 1fr 1fr;
    }

    .contact__el1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        padding-left: 30px;
        border: none;
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        h1 {
            max-width: 200px;
        }
    }

    .contact__el2 {
        border: none;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .contact__el3 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .contact__el-column {
        display: flex;
        flex-direction: column;
    }

    .contact__el-mob-margin {
        margin-top: 50px;
    }
}

@media screen and (max-width:426px) {
    .contact-mob {
        display: grid;
        grid-template: 178px 1fr 580px /1fr;
    }

    %contact__el-style {
        border: solid 1px #7A7A7A;
        border-left: none;
        border-right: none;
        padding: 30px;
        display: flex;
        flex-direction: column;

        span {
            padding: 0;
            padding-bottom: 20px;
        }
    }

    .contact__el2 {
        @extend%contact__el-style
    }

    .contact__numbers {
        h3 {
            padding-left: 30px;
            // padding-bottom: 50px;
        }
    }

    .contact__el3 {
        @extend%contact__el-style;
    }
}