
.head-tittle {
    display: flex;
    justify-content: space-between;
    max-width: 1750px;
    margin: 0 auto;
    
    padding-bottom: 30px;
}
.information {
    display: flex;
    gap: 30px;
    align-items: center;
    &__photo{
        margin-top: 20px;
    }
		&__text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #444444;
            margin-top: 20px;
            &:active{
                color: #868686;
            }
            &:hover{
                text-decoration: underline;
            }
			&_black {
                font-weight: 500;
			}
        
		}
}
.logo {
		&__img {
            margin-top: 30px;
		}
}

.icons {
    display: flex;
    gap: 30px;
    align-items: center;
    &__photo {
        margin-top: 20px;
        &:active{
            // box-shadow: #ff0000;
            filter: drop-shadow(5px 10px 15px black);
        }
    }
}

@media (max-width:1761px){
    .head-tittle{
        max-width: 1550px;
    }
}
@media (max-width:1600px){
    .head-tittle{
        max-width: 1440px;
    }
}
@media (max-width:1441px){
    .head-tittle{
        max-width: 1250px;
    }
}

