%allstyle{
    border: solid 1px rgb(146, 146, 146);;
}
%h3-style{
    font-family: 'RF Dewi Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.kitchen {
    display: grid;
    grid-template-columns: 718px repeat(3, 1fr);
    // grid-template-rows: minmax(1fr, 260px)  minmax(1fr, 566px) minmax(1fr, 120px) minmax(1fr, 120px);
    grid-template-rows: 260px 583px 120px 120px;
    // grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "head head head head" 
                        "side photo photo photo"
                        "side num arrow button"
                        "side space space space";
    background-color: #444444;
    &_el1 {
        display: flex;
        align-items: center;
        @extend%allstyle;
        grid-area: head;
        h3{
        padding: 100px 0px 0px 30px;
        @extend%h3-style
        }
        
    }
    &_el2 {
        grid-area: side;
        @extend%allstyle;
        p{
            max-width: 400px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 70px 0px 0px 30px;
        }
    }
    &_el3 {
        display: flex;
        justify-content: flex-start;
        @extend%allstyle;
        grid-area: photo;
        img{
            
          max-width: 100%;
        }
        
    }
    &_el4 {
        display: flex;
        justify-content: end;
        align-items: center;
        @extend%allstyle;
        grid-area: num;
        min-width: 700px;
        h3{
            padding-right: 30px;
            @extend%h3-style; 
        }
    }
    &_el5 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @extend%allstyle;
        grid-area: arrow;
        p{
            @extend%h3-style;
            
        }
    }
    &_el6 {
         display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        @extend%allstyle;
        grid-area: button;
        h3{
           
            @extend%h3-style;
            color: #444444;
        }
        &::after{
            content: "\2192";
            font-size: 20px;
            color: rgb(0, 0, 0);
            padding: 0px 0px 0px 10px;
        }
        &:active{
            background-color: #c4c4c4
        }
    }
}


@media (max-width:1834px){
   
}
@media (max-width:1761px){
    .kitchen{
        grid-template-columns: 618px repeat(3, 1fr);
        &_el4{
            min-width: 600px;
        }
    }
 }
@media (max-width:1600px){
     .kitchen{
        grid-template-columns: 518px repeat(3, 1fr);
        &_el4{
            min-width: 500px;
        }
    }
}
@media (max-width:1441px){ 
   
}