@charset "UTF-8";
.kitchen_el6, .kitchen_el5, .kitchen_el4, .kitchen_el3, .kitchen_el2, .kitchen_el1 {
  border: solid 1px rgb(146, 146, 146);
}

.kitchen_el6 h3, .kitchen_el5 p, .kitchen_el4 h3, .kitchen_el1 h3 {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.kitchen {
  display: grid;
  grid-template-columns: 718px repeat(3, 1fr);
  grid-template-rows: 260px 1fr 120px 120px;
  grid-template-areas: "head head head head" "side photo photo photo" "side num arrow button" "side space space space";
  background-color: #444444;
}
.kitchen_el1 {
  display: flex;
  align-items: center;
  grid-area: head;
}
.kitchen_el1 h3 {
  padding: 100px 0px 0px 30px;
}
.kitchen_el2 {
  grid-area: side;
}
.kitchen_el2 p {
  max-width: 400px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 70px 0px 0px 30px;
}
.kitchen_el3 {
  display: flex;
  justify-content: flex-start;
  grid-area: photo;
}
.kitchen_el3 img {
  max-width: 100%;
}
.kitchen_el4 {
  display: flex;
  justify-content: end;
  align-items: center;
  grid-area: num;
  min-width: 700px;
}
.kitchen_el4 h3 {
  padding-right: 30px;
}
.kitchen_el5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-area: arrow;
}
.kitchen_el6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  grid-area: button;
}
.kitchen_el6 h3 {
  color: #444444;
}
.kitchen_el6::after {
  content: "→";
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 0px 0px 0px 10px;
}
.kitchen_el6:active {
  background-color: #c4c4c4;
}

.kitchen-mob {
  display: none;
}

@media (max-width: 1761px) {
  .kitchen {
    grid-template-columns: 618px repeat(3, 1fr);
  }
  .kitchen_el4 {
    min-width: 600px;
  }
}
@media (max-width: 1600px) {
  .kitchen {
    grid-template-columns: 518px repeat(3, 1fr);
  }
  .kitchen_el4 {
    min-width: 500px;
  }
}
@media (max-width: 1441px) {
  .kitchen {
    grid-template-columns: 318px repeat(3, 1fr);
    grid-template-rows: 260px 1fr 120px 120px;
  }
  .kitchen_el4 {
    min-width: 450px;
  }
}
@media screen and (max-width: 1320px) {
  .kitchen_el4 {
    min-width: 420px;
  }
}
@media screen and (max-width: 1106px) {
  .kitchen {
    grid-template-columns: 318px repeat(3, 1fr);
    grid-template-rows: 260px 382px 120px 120px;
  }
  .kitchen_el2 p {
    font-size: 15px;
  }
  .kitchen_el4 {
    min-width: 320px;
  }
}
@media screen and (max-width: 905px) {
  .kitchen {
    grid-template-columns: 190px repeat(3, 1fr);
    grid-template-rows: 260px 382px 120px 120px;
  }
}
@media screen and (max-width: 769px) {
  .kitchen {
    display: none;
  }
  .kitchen-mob {
    display: block;
    background-color: #444444;
  }
  .kitchen_el3, .kitchen_el1 {
    border: none;
  }
  .kitchen_el1 {
    padding: 80px 50px 50px 50px;
  }
  .kitchen_el1 h3 {
    font-size: 18px;
    padding: 0;
  }
  .kitchen_el4 h3 {
    padding: 30px 0px 30px 0px;
  }
  .kitchen_el4 {
    grid-column: 1/3;
    min-width: none;
  }
  .kitchen_el4 h3 {
    padding-right: 30px;
  }
  .kitchen_el5 {
    grid-column: 3/4;
  }
  .kitchen_el6 {
    grid-column: 4/5;
  }
  .kitchen_el6 h3 {
    font-size: 18px;
  }
  .kitchen-mob__df {
    max-width: 768px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 100px 1fr;
  }
  .kitchen_el2 {
    display: grid;
    grid-template: 340px/1fr;
  }
  .kitchen_el2 p {
    max-width: 285px;
    font-size: 12px;
    padding: 60px 0px 0px 50px;
  }
}
@media screen and (max-width: 515px) {
  .kitchen_el4 {
    min-width: 280px;
  }
}
@media screen and (max-width: 475px) {
  .kitchen_el4 {
    min-width: 230px;
  }
}
@media screen and (max-width: 426px) {
  .kitchen_el4 {
    min-width: 190px;
  }
  .kitchen_el2 p {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 385px) {
  .kitchen_el4 {
    min-width: auto;
  }
}/*# sourceMappingURL=kitchen.css.map */