%all-style{
    border: solid 1px black;
}
%style-for-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners {
    display: grid;
    // grid-template: 1fr 1fr / repeat(5. 1fr);
    grid-template: 250px 250px / repeat(5, 1fr);

    &__el1 {
        grid-row: 1 / 3;
        @extend%all-style;
        h1{
            font-family: 'RF Dewi Expanded';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 110%;
            color: #444444;
            padding-top: 50px;
            padding-left: 20px;
        }
    }

    

    &__el2 {
        @extend%all-style;
        @extend%style-for-img
    }

    

    &__el3 {
        @extend%all-style;
        @extend%style-for-img
    }

    

    &__el4 {
        @extend%all-style;
        @extend%style-for-img
    }

    

    &__el5 {
        @extend%all-style;
        @extend%style-for-img
    }

    

    &__el6 {
        @extend%all-style;
        @extend%style-for-img
    }

    

    &__el7 {
        @extend%all-style;
        @extend%style-for-img
    }

    

    &__el8 {
        grid-column: 4 / 6;
        @extend%all-style;
        font-family: 'RF Dewi Expanded';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #444444;
        background-color: #E5E5E5;
        &::after{
            content: "\2192";
            font-size: 20px;
            color: rgb(0, 0, 0);
            padding-left: 10px;
        }
        &:active{
            background-color: #d3d3d3;
        }
    }

    

}
