.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px 360px;
    // grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

    &__el1 {
        border: solid 1px black;
    }
    %fleximg{
        border: solid 1px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            max-width: 320px;
        }
    }
    

    &__el2 {
        @extend%fleximg;
    }

    

    &__el3 {
        @extend%fleximg;
    }

    

    &__el4 {
        border: solid 1px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            max-width: 192px;
        }
    }

    

    &__el5 {
        border: solid 1px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            max-width: 216px;
        }
    }

    

    &__el6 {
        border: solid 1px black;
        display: flex;
        align-items: flex-end;
       
    }
    .prodduct__el2_active-button{
        background-color: #E5E5E5;
        &:active{
            background-color: #d2d2d2;
            
        }
    }
}

.products__text{
    font-family: 'RF Dewi Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #444444;
    margin: 30px 0px 0px 0px;
    padding-right: 250px;
}

.products__text_margin{
    margin-top: 100px;
}

.products__text_size{
    padding: 90px 0px 0px 50px;
    font-size: 32px;
    line-height: 110%;
}
.products__el6-button{
    background-color: #E5E5E5;
    border: solid 1px black;
    width: 100%;
    min-height: 71px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    &:active{
        background-color: #c1c1c1;
    }
    &::after{
        content: "\2192";
        font-size: 20px;
        color: rgb(0, 0, 0);
        padding: 0px 30px 0px 20px;
    }
}

.product__text-padding-none{
    padding: 0;
    margin: 0;
    padding-left: 15px;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
}

