@charset "UTF-8";
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 450px 360px;
}
.products__el1 {
  border: solid 1px black;
}
.products .products__el4, .products .products__el3, .products .products__el2 {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products .products__el4 img, .products .products__el3 img, .products .products__el2 img {
  max-width: 320px;
}
.products__el4 img {
  max-width: 192px;
}
.products__el5 {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products__el5 img {
  max-width: 216px;
}
.products__el6 {
  border: solid 1px black;
  display: flex;
  align-items: flex-end;
}
.products .prodduct__el2_active-button {
  background-color: #E5E5E5;
}
.products .prodduct__el2_active-button:active {
  background-color: #d2d2d2;
}

.products__text {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #444444;
  margin: 30px 0px 0px 0px;
  padding-right: 250px;
}

.products__text_margin {
  margin-top: 100px;
}

.products__text_size {
  padding: 90px 0px 0px 50px;
  font-size: 32px;
  line-height: 110%;
}

.products__el6-button {
  background-color: #E5E5E5;
  border: solid 1px black;
  width: 100%;
  min-height: 71px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.products__el6-button:active {
  background-color: #c1c1c1;
}
.products__el6-button::after {
  content: "→";
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 0px 30px 0px 20px;
}

.product__text-padding-none {
  padding: 0;
  margin: 0;
  padding-left: 15px;
}

.products-mob {
  display: none;
}

@media screen and (max-width: 1030px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 360px 360px;
  }
  .products__el1 {
    border: solid 1px black;
  }
  .products .products__el4, .products .products__el3, .products .products__el2 {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products .products__el4 figure, .products .products__el3 figure, .products .products__el2 figure {
    max-width: 250px;
  }
  .products .products__el4 img, .products .products__el3 img, .products .products__el2 img {
    max-width: 200px;
  }
  .products__el4 img {
    max-width: 50px;
  }
  .products__el5 {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products__el5 img {
    max-width: 216px;
  }
  .products__el6 {
    border: solid 1px black;
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 769px) {
  .products {
    display: none;
  }
  .products button {
    margin: 0;
  }
  .products__el2, .products__el3, .products__el4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #444444;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
    width: 100%;
    padding: 0;
    background: #E5E5E5;
  }
  .products__el2 img, .products__el3 img, .products__el4 img {
    max-width: 148px;
    padding-right: 40px;
  }
  .products-mob {
    display: block;
  }
  .products__el1 {
    padding: 75px 0px 75px 0px;
    border-bottom: solid 1px #444444;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .products__text_size {
    padding: 0;
  }
  .products__el2 {
    padding: 60px 0px 60px 0px;
  }
  .products__el3 {
    padding: 45px 0px 45px 0px;
  }
  .products__text {
    color: #444444;
    padding-left: 40px;
    margin: 0;
    padding-right: 0;
  }
  .products__el4 {
    padding: 30px 0px 30px 0px;
  }
  .products__el5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #444444;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
    width: 100%;
    padding: 0;
    flex-direction: row;
    background: #E5E5E5;
    padding: 15px 0px 15px 0px;
  }
  .products__el5 img {
    max-width: 148px;
    padding-right: 40px;
  }
  .products__el6 {
    border-bottom: solid 1px #444444;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .products__el6::after {
    padding-bottom: 20px;
  }
  .product__text-padding-none {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 426px) {
  .products__text {
    max-width: 100px;
  }
  .product__text-padding-none {
    max-width: 200px;
  }
}/*# sourceMappingURL=product.css.map */